<!-- 動作確認アドレスhttp://localhost:3000/books/1 -->

<% if flash[:notice] %>
　<div>
	<%= flash[:notice] %>
　</div>
<% end %>
<p id="notice"></p>
<p>
	<strong>Title:</strong>
	　<%= @book.title %>
</p>
<p>
	<strong>Body:</strong>
	　<%= @book.body %>
</p>
<p>
<%= link_to "Edit", edit_book_path(@book) %>
|
<%= link_to "Back", books_path %>
</p>
